@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
}

::selection {
  background: #0EA5E9;
  color: #ffffff;
}

::-moz-selection {
  background: #0EA5E9;
  color: #ffffff;
}

@layer base{
  body {
      @apply bg-color-bg-light-primary dark:bg-color-bg-dark-primary text-color-text-dark-secondary dark:text-color-text-light-secondary
      scrollbar-thin scrollbar-track-gray-200 scrollbar-thumb-gray-700
  }
}

@layer utilities {
  .text-color-primary {
    @apply text-color-text-light-primary dark:text-color-text-dark-primary
  }
  .text-color-secondary { 
    @apply text-color-text-dark-secondary dark:text-color-text-light-secondary
  }
  .bg-color-primary {
    @apply bg-color-bg-light-primary dark:bg-color-bg-dark-primary
  } 
  .bg-color-secondary {
    @apply bg-color-bg-dark-secondary dark:bg-color-bg-light-secondary
  }
}
